<div class="container">
  <!--<bar-graph></bar-graph>
  <pie-graph></pie-graph>
  <radar-graph></radar-graph>
  <line-graph></line-graph>
  -->

  <div lb-gridstack width="8">

    <div lb-gridstack-item x="0" y="0" width="2" height="7">
      <bar-graph></bar-graph>
    </div>

    <div lb-gridstack-item x="2" y="0" width="2" height="7">
      <pie-graph></pie-graph>
    </div>

    <div lb-gridstack-item x="4" y="0" width="2" height="7">
      <radar-graph></radar-graph>
    </div>

    <div lb-gridstack-item x="6" y="0" width="2" height="7">
      <line-graph></line-graph>
    </div>

  </div>

</div>